*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width : 100vw;
    height : 100vh;
    background : lightgrey;
    overflow: hidden;
}

.calculator{
    width : 300px;
    height : 400px;
    border : 2px solid lightblue;
    background : #000;
    display: grid;
    grid-template-rows: 100px 300px;
}

.screen{
    background : burlywood;
    border: 5px solid silver;
}